<div class="register-top-grid">

  <h3>PERSONAL INFORMATION</h3>
  <!--<div>
    <span>COMP_ID<label>*</label></span>
    <% f.text_field(:comp_id, :value => @comp_id, :disable => "disabled" )%>
  </div>-->
  <div>
    <span>First Name<label>*</label></span>
    <%= f.text_field(:first_name, :placeholder => "Enter First Name", :id => "inputFName") %>
  </div>
  <div>
    <span>Last Name<label>*</label></span>
    <%= f.text_field(:last_name, :placeholder => "Enter Last Name", :id => "inputLName") %>
  </div>
  <div>
    <span>Email Address<label>*</label></span>
    <%= f.text_field(:email_id, :placeholder => "Enter Email ID", :id => "inputEmail") %>
  </div>
  <div class="clear"> </div>
  <a class="news-letter" href="#">
    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>Sign Up for Newsletter</label>
  </a>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>

<div class="register-bottom-grid">
  <h3>LOGIN INFORMATION</h3>
  <div>
    <span>Password<label>*</label></span>
    <%= f.text_field(:password, :placeholder => "Enter Password", :id => "inputPassword",:type => "password") %>
  </div>
  <div>
    <span>Confirm Password<label>*</label></span>
    <%= f.text_field(:password_confirmation, :placeholder => "Enter Password Again", :id => "inputPassword",:type => "password") %>

  </div>
  <div class="clear"> </div>
</div>
<div class="clear"> </div>
