
<div class="main">
  <div class="shop_top">
    <div class="container">
      <div class="row shop_box-top">
        <div class="col-md-3 shop_box"><%= link_to("",{:action => "single"})%>
          <%= image_tag "Book_html_1.jpg", :class => "img-responsive", :alt => "" %>
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
          <div class="shop_desc">
            <h3><a href="#">Html Language Book</a></h3>
            <p>Rockable Decoding Html-5 <br> <strong>Author:</strong><i id="author">Jeffrey Way</i> </p>
            <ul class="buttons">
              <li class="cart"><%= link_to("Download",{:action => "single"})%></li>
              <li class="shop_btn"><a href="#">Read More</a></li>
              <div class="clear"> </div>
            </ul>
          </div>
       </div>
        <div class="col-md-3 shop_box"><%= link_to("",{:action => "single"})%>
          <%= image_tag "Book_office_1.jpg", :class => "img-responsive", :alt => "" %>
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
          <div class="shop_desc">
            <h3><a href="#">Microsoft Office Book</a></h3>
            <p>Office All-in-one for Dummies <br> <strong>Author:</strong><i id="author">Peter Weverka</i> </p>
            <ul class="buttons">
              <li class="cart"><a href="#">Download</a></li>
              <li class="shop_btn"><a href="#">Read More</a></li>
              <div class="clear"> </div>
            </ul>
          </div>
        </div>
        <div class="col-md-3 shop_box"><%= link_to("", {:action => "single"})%>
          <%= image_tag "Book_cryptography_1.jpg", :class => "img-responsive", :alt => "" %>
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
          <div class="shop_desc">
            <h3><a href="#">Cryptography Book</a></h3>
            <p>Cryptography & Network Security<br> <strong>Author:</strong><i id="author">William Stallings</i></p>
            <ul class="buttons">
              <li class="cart"><a href="#">Download</a></li>
              <li class="shop_btn"><a href="#">Read More</a></li>
              <div class="clear"> </div>
            </ul>
          </div>
        </div>
        <div class="col-md-3 shop_box"><%= link_to("", {:action => "single"})%>
          <%= image_tag "Book_cpp_1.jpg", :class => "img-responsive", :alt => "" %>
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
          <div class="shop_desc">
            <h3><a href="#">C++ Books</a></h3>
            <p>Beginning C++ Game Development <br> <strong>Author:</strong><i id="author">Michael Dawson</i> </p>
            <ul class="buttons">
              <li class="cart"><a href="#">Add To Cart</a></li>
              <li class="shop_btn"><a href="#">Read More</a></li>
              <div class="clear"> </div>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 shop_box"><%= link_to("", {:action => "single"})%>
          <%= image_tag "Book_cs_1.jpg", :class => "img-responsive", :alt => "" %>
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
          <div class="shop_desc">
            <h3><a href="#">Computer Science Book</a></h3>
            <p>AP Computer Science Principle <br> <strong>Author:</strong><i id="author">College Board</i> </p>
            <ul class="buttons">
              <li class="cart"><a href="#">Download</a></li>
              <li class="shop_btn"><a href="#">Read More</a></li>
              <div class="clear"> </div>
            </ul>
          </div>
        </div>
        <div class="col-md-3 shop_box"><%= link_to("", {:action => "single"})%>
          <%= image_tag "Book_oracle_1.jpg", :class => "img-responsive", :alt => "" %>
          <div class="shop_desc">
            <h3><a href="#">Oracle Book</a></h3>
            <p>OCA/OCP Programmer Study Guide <br> <strong>Author:</strong><i id="author">Katty & Bert</i> </p>
            <ul class="buttons">
              <li class="cart"><a href="#">Download</a></li>
              <li class="shop_btn"><a href="#">Read More</a></li>
              <div class="clear"> </div>
            </ul>
          </div>
        </div>
        <div class="col-md-3 shop_box"><%= link_to("", {:action => "single"})%>
          <%= image_tag "Book_windows_1.jpg", class: "img-responsive", alt: "" %>
					<span class="new-box">
						<span class="new-label">New</span>
					</span>
          <div class="shop_desc">
            <h3><a href="#">Windows Book</a></h3>
            <p>Programming Windows with C# <br> <strong>Author:</strong><i id="author">Charles Petzold</i> </p>
            <ul class="buttons">
              <li class="cart"><a href="#">Download</a></li>
              <li class="shop_btn"><a href="#">Read More</a></li>
              <div class="clear"> </div>
            </ul>
          </div>
       </div>
        <div class="col-md-3 shop_box"><%= link_to("",{:action => "single"})%>
          <%= image_tag "Book_r_1.jpg", :class => "img-responsive", :alt => "" %>
          <div class="shop_desc">
            <h3><a href="#">R Language Book</a></h3>
            <p>Data Analysis and Graphics Using R <br> <strong>Author:</strong><i id="author">John & Braun</i> </p>
            <ul class="buttons">
              <li class="cart"><a href="#">Download</a></li>
              <li class="shop_btn"><a href="#">Read More</a></li>
              <div class="clear"> </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>