<!----details-product-slider--->
<!-- Include the Etalage files -->
<%= stylesheet_link_tag 'etalage', media: "all" %>
<%= javascript_include_tag 'jquery.etalage.min' , 'data-turbolinks-track' => true %>
<!-- Include the Etalage files -->
<script>
  jQuery(document).ready(function($){

    $('#etalage').etalage({
      thumb_image_width: 300,
      thumb_image_height: 400,

      show_hint: true,
      click_callback: function(image_anchor, instance_id){
        alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
      }
    });
    // This is for the dropdown list example:
    $('.dropdownlist').change(function(){
      etalage_show( $(this).find('option:selected').attr('class') );
    });

  });
</script>
<!----//details-product-slider--->
<div class="main">
  <div class="shop_top">
    <div class="container">
      <div class="row">
        <div class="col-md-9 single_left">
          <div class="single_image">
            <ul id="etalage">
              <% @list.each do |val| %>
              <li>
                <%= image_tag val+'.jpg', class: 'etalage_thumb_image' %>
                <%= image_tag val+'.jpg', class: 'etalage_source_image' %>
              </li>
              <% end %>
            </ul>
          </div>
          <!-- end product_slider -->
          <div class="single_right">
            <h3><%= @book_name %> </h3>
            <p class="m_10">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse</p>
            <h5><strong>Author :  </strong> <%= @author_name %></h5>
            <!--<ul class="add-to-links">
              <li><img src="images/wish.png" alt=""><a href="#">Add to wishlist</a></li>
            </ul>-->

          </div>
          <div class="clear"> </div>
        </div>
        <div class="col-md-3">
          <div class="box-info-product">
            <p class="price2">Free.....</p>
            <%= link_to "Download", {:controller => 'info',:action => 'books', :id => params[:id] }, class: "exclusive" %>
          </div>
        </div>
      </div>
      <div class="desc">
        <h4>Description</h4>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores</p>
      </div>
      <div class="row">
        <h4 class="m_11">Related Products in the same Category</h4>
        <div class="col-md-4 product1">
          <img src="images/s1.jpg" class="img-responsive" alt=""/>
          <div class="shop_desc"><a href="single.html">
          </a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
            <p>Lorem ipsum consectetuer adipiscing </p>
            <span class="reducedfrom">$66.00</span>
            <span class="actual">$12.00</span><br>
            <ul class="buttons">
              <li class="cart"><a href="#">Add To Cart</a></li>
              <li class="shop_btn"><a href="#">Read More</a></li>
              <div class="clear"> </div>
            </ul>
          </div>
        </div>
        <div class="col-md-4 product1">
          <img src="images/s2.jpg" class="img-responsive" alt=""/>
          <div class="shop_desc"><a href="single.html">
          </a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
            <p>Lorem ipsum consectetuer adipiscing </p>
            <span class="reducedfrom">$66.00</span>
            <span class="actual">$12.00</span><br>
            <ul class="buttons">
              <li class="cart"><a href="#">Add To Cart</a></li>
              <li class="shop_btn"><a href="#">Read More</a></li>
              <div class="clear"> </div>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <img src="images/s3.jpg" class="img-responsive" alt=""/>
          <div class="shop_desc"><a href="single.html">
          </a><h3><a href="single.html"></a><a href="#">aliquam volutp</a></h3>
            <p>Lorem ipsum consectetuer adipiscing </p>
            <span class="reducedfrom">$66.00</span>
            <span class="actual">$12.00</span><br>
            <ul class="buttons">
              <li class="cart"><a href="#">Add To Cart</a></li>
              <li class="shop_btn"><a href="#">Read More</a></li>
              <div class="clear"> </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>